.App {
	text-align: center;
	font-size: 16px;
}

body {
	box-sizing: border-box;
	background-color: #2f2f2f;
	color: #fff;
	width: 100vw;
}

main {
	padding-top: 2rem;
	font-size: 1.5rem;
	margin: 0 auto;
	background-color: #2f2f2f;
}

h2 {
	font-size: 1.25rem;
	color: #cfd11a;
	margin-bottom: 0.5rem;
}

.adjustables {
	display: flex;
	flex-flow: row wrap;
	padding: 0.5em;
	max-width: 720px;
	margin: 0 auto;
}

.interactions {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
	width: 100%;
	margin: 0 auto;
}

h2.inputLabel {
	width: 100%;
}

div.strength label {
	display: block;
}

input#light,
input#med,
input#strong {
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	padding: 0;
	font-size: 1.25rem;
}

input[type='number'] {
	max-width: 3.65rem;
	text-align: center;
	font-size: 1.5rem;
	padding: 0.5em;
	margin: auto 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

h2.title {
	min-height: 2.25em;
}

p.measure {
	display: inline-block;
	font-size: 1.2rem;
	margin: auto 0;
	max-width: 3rem;
	padding: 0.25rem;
}

div.incrementDecrement {
	padding: 1em 0;
	width: 33.3%;
}

div.increment {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input {
	max-width: 20em;
	background-color: #424242;
	color: #fff;
	font-size: 1.5rem;
	border: 0;
	border-radius: 5px;
}

input.inactive:hover {
	color: #cfd11a;
	border: 1px solid #cfd11a;
	outline-style: none;
	box-shadow: none;
}

input.inactive {
	background-color: #424242;
	color: #fff;
}

input.active {
	color: #cfd11a;
	border: 1px solid #cfd11a;
	outline-style: none;
	box-shadow: none;
}

input:focus {
	color: #cfd11a;
	border: 1px solid #cfd11a;
	outline-style: none;
	box-shadow: none;
}

button {
	width: 90%;
	max-width: 5em;
	background-color: #424242;
	color: #fff;
	font-size: 2rem;
	border: 1px solid #424242;
	padding: 0.5rem;
	margin: 0.75rem;
	border-radius: 5px;
	touch-action: manipulation;
}

button.incrementDecrement {
	width: 3rem;
	height: 3rem;
	margin: 0.12em;
	padding: 0;
	transition-property: box-shadow;
	transition-duration: 1s;
}

button#cups-increment, button#cups-decrement, button#coffeeGrams-increment, button#coffeeGrams-decrement, button#waterGrams-increment, button#waterGrams-decrement {
    width: auto;
    height: 2rem;
    line-height: 2rem;
}

button#start_stop,
button#reset {
	width: 3rem;
  height: 3rem;
  margin: 0.12em;
  padding: 0;
  font-size: 1em;
}

button:hover {
	color: #cfd11a;
	border: 1px solid #cfd11a;
	outline-style: none;
	box-shadow: none;
}

button:active {
	color: #cfd11a;
	border: 1px solid #cfd11a;
	outline-style: none;
	box-shadow: none;
}

button:focus {
	color: #cfd11a;
	border: 1px solid #cfd11a;
	outline-style: none;
	box-shadow: none;
}

span.button:focus {
	outline-style: none;
	box-shadow: none;
}

div#countdown-timer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div#timer-display {
    width: auto;
    min-width: 120px;
    margin: .25em;
    background-color: #424242;
}

h3#time-left {
    margin: .5em auto;
    font-weight: normal;
    font-size: 2rem;
}

div.increment.timer {
	padding-right: 0;
}

div.controls {
	display: flex;
	flex-direction: column
}

button#saveSettings {
    font-size: 1.25rem;
    max-width: 8em;
    margin: 1.5em auto;
    background-color: #0D00A4;
    border-radius: 5px;
}

@media screen and (min-width: 440px) {
	h2.title {
		min-height: 0;
	}

	button {
		width: 12em;
	}
}
